{
  "plugins": [
    "@babel/proposal-class-properties",
    "@babel/proposal-object-rest-spread"
  ],
  "presets": [
    ["@babel/env", { "useBuiltIns": "usage", "modules": false }],
    "@babel/typescript",
    "@babel/react"
  ],
  "env": {
    "test": {
      "presets": [
        ["@babel/env", { "useBuiltIns": "usage" }],
        "@babel/typescript",
        "@babel/react"
      ]
    }
  }
}
